@import './variables';

.hours-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    table {
        margin: 10px;
        width: 60%;
        border-spacing: 10px;

        tr {
            min-height: 22px;
            height: 22px;
            margin: unset;
        }

    }
}