@font-face {
  font-family: jeju;
  src: url(./font/JejuHallasan.ttf.woff);
}
@font-face {
  font-family: Island;
  src: url(./font/Island_Moments/IslandMoments-Regular.ttf);
}
@font-face {
  font-family: Irish;
  src: url(./font/Irish_Grover/IrishGrover-Regular.ttf);
}
@font-face {
  font-family: Inter;
  src: url(./font/Inter/static/Inter-SemiBold.ttf);
}
@font-face {
  font-family: jeju;
  src: url(./font/JejuHallasan.ttf.woff);
}
@font-face {
  font-family: Island;
  src: url(./font/Island_Moments/IslandMoments-Regular.ttf);
}
@font-face {
  font-family: Irish;
  src: url(./font/Irish_Grover/IrishGrover-Regular.ttf);
}
@font-face {
  font-family: Inter;
  src: url(./font/Inter/static/Inter-SemiBold.ttf);
}
@font-face {
  font-family: jeju;
  src: url(./font/JejuHallasan.ttf.woff);
}
@font-face {
  font-family: Island;
  src: url(./font/Island_Moments/IslandMoments-Regular.ttf);
}
@font-face {
  font-family: Irish;
  src: url(./font/Irish_Grover/IrishGrover-Regular.ttf);
}
@font-face {
  font-family: Inter;
  src: url(./font/Inter/static/Inter-SemiBold.ttf);
}
.logo_div {
  max-width: 35%;
  min-width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo_div .logo {
  max-width: 120px;
  max-height: 120px;
  margin: 10px;
}
.logo_div .header-title {
  padding-left: 50px;
  font-family: Irish, Helvetica, sans-serif;
  font-size: 3.5rem;
  color: #E1CAFC;
  font-weight: 100;
}

body {
  background-color: #C79D61;
  font-family: Inter, Helvetica;
  color: #D9FCE3;
  padding: 20px 50px;
}

.button {
  border: solid 1px #000;
  border-radius: 20px;
  color: #000;
  background-color: #D9FCE3;
  padding: 10px 15px;
  margin: 5px;
  font-family: Island, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: #1E1E1E 5px 5px 10px;
}