@import "variables";
@import "menu";
@import "logo";
@import "gallery";
@import "hours";
@import "carte";
@import "aboutus";
@import "login";

body {
    background-color: $primary-color;
    font-family: Inter, Helvetica;
    color: $secondary-color;
    padding: 20px 50px;

    h2 {
        font-family: Island;
        color: $tertiary-color;
        text-align: center;
        font-size: 4rem;
        font-weight: 100;
    }
    section {
        h2 {
            margin: auto 30%;
            margin-bottom: 30px;
        }
    }
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button {
    @include button;
}