@import "variables";
@import "menu";
@import "logo";

body {
    background-color: $primary-color;
    font-family: Inter, Helvetica;
    color: $secondary-color;
    padding: 20px 50px;
}
.button {
    @include button;
}